/* Background color for whole site */
body {
  background-color: rgb(60, 60, 60);
}

* {
  background-color: hsl(0, 0%, 0%);
  color: #ffcc00;
  font-family: Courier New,Courier,monospace;
}

/* Color for text for visibility */
label,p,li{
  color: #00aaaa;
}

summary {
  color: #ffffff;
  font-family: Courier New,Courier,monospace;
}

/* Colors for Links */
a:link {
  color: red;
}
a:visited {
  color: hsl(120, 100%, 63.5%);
}
a:hover {
  color: #00ffff;
}
a:active {
  color: blue;
}
a[href="#Summary"]
{
  font-size: 32px;
}

/* Box styling */
.blackbox {
  margin-top: 1cm;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 1in;
  
  border-color: rgb(100, 100, 100);
  border-width: 10px;
  border-style: solid;

  padding-top: 1in;
  padding-bottom: 1in;
  padding-left: 1cm;
  padding-right: 1cm;
}

#bluebox {
  margin: 2vh 2vh 1vw 1vw;

  border-color: #8080ff;
  border-radius: 3rem;
  border-style: dashed;

  padding: 1cm 1cm 1in 1in;
}

/* Flex box css */
.flex-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 10px 20px;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-item {
  background: #0000ff;
  padding: 7px;
}

/* Grid css */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 25px;
  justify-items: stretch;
  background-color: rgb(100, 0, 0);
}

.grid-item {
  justify-self: start;
  color: rgb(100, 100, 100);
}
