
/* Background color for whole site */
body {
  background-color: rgb(60, 60, 60);
}

/* Colors of headers */
h1,h2,h3 {
  color: #ffcc00;
  font-family: Courier New,Courier,monospace;
}

/* Color for text for visibility */
p,li{
  color: #00aaaa;
}

summary {
  color: #ffffff;
  font-family: Courier New,Courier,monospace;
}

/* Colors for Links */
a:link {
  color: red;
}
a:visited {
  color: rgb(69, 255, 69);
}
